{% extends 'base.html' %}
{% block content %}
    <p>Edit Profile</p>
    <form acction="" method="post" class="login-form" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.old_password.label }}<br>
                {{ form.old_password() }}
            </p>
            {% for error in form.old_password.errors %}
            <div class="alert alert-danger form-alert">
                {{ error }}
            </div>
            {% endfor %}
            
            <p>
                {{ form.new_password.label }}<br>
                {{ form.new_password() }}
            </p>
            {% for error in form.new_password.errors %}
            <div class="alert alert-danger form-alert">
                {{ error }}
            </div>
            {% endfor %}
        
            <p>
                {{ form.new_password_repeat.label }}<br>
                {{ form.new_password_repeat() }}
            </p>
            {% for error in form.new_password_repeat.errors %}
            <div class="alert alert-danger form-alert">
                {{ error }}
            </div>
            {% endfor %}
        
        
        
            <p class="mt-5">
                {{ form.submit() }}
            </p>
        </form> 
{% endblock %}