{% extends 'base.html' %}

{% block style %}
<style>
    .run {
        width:300px;
        background-color:#efedeb;
        padding:8px;
        padding-left:20px;
        margin-bottom:4px;
    }
</style>
{% endblock %}

{% block content %}

<div class="">
    <a href="{{ url_for('.add_run') }}" class="btn btn-success">Add new run!</a>
    <a href="{{ url_for('.add_injury') }}" class="btn btn-warning">Add an injury.</a>
</div>


<div class="mt-5">
    {% if runs %}
    <h5>Your last runs:</h5>
        {% for run in runs %}  
            <div class="run">
            {{ run.distances }} km in
            {{ run.times }} sec <br>
            {{ run.timestamp }} 
            </div>
        {% endfor %}
    {% endif %}
</div>
    
{% endblock %}