{% extends 'base.html' %}
{% block content %}
    <a href="{{ url_for('.add_injury') }}" class="btn btn-secondary">Add new injury</a>
    <div class="row">
        <div class="col mt-5">
        {% if injuries %}
        <h5 class="mb-4">Your injuries:</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Description</th>
                  <th scope="col"> </th>
                  <th scope="col"> </th>
                </tr>
              </thead>
              <tbody> 
              {% for injury in injuries %}  
                <tr>
                  <th scope="row">{{ injury.timestamp|string|truncate(13, end='') }}</th>
                  <td>{{ injury.text }} </td>
                  <td>{{ injury.description }}</td>
                  <td><a href="{{ url_for('.edit_injury', injury_id=injury.injury_id) }}" class="btn btn-outline-info btn-sm">edit</a></td>
                  <td><a href="{{ url_for('.delete_injury', injury_id=injury.injury_id) }}" class="btn btn-outline-danger btn-sm">delete</a></td>
                </tr>
              {% endfor %}    
              </tbody>
            </table>
        {% endif %}    
        </div>   
    </div>
{% endblock %}
