{% extends 'base.html' %}
{% block content %}
    <a href="{{ url_for('.add_run') }}" class="btn btn-success">Add a new run!</a>
    <div class="row">
        <div class="col mt-5">
        {% if runs %}
        <h5 class="mb-4">Your runs:</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Distance</th>
                  <th scope="col">Time</th>
                  <th scope="col"> </th>
                  <th scope="col"> </th>
                </tr>
              </thead>
              <tbody> 
              {% for run in runs %} 
                {% set total=run.times|int %}  
                {% set h=total//3600 %}
                {% set m=(total-h*3600)//60 %}
                {% set s=total-h*3600-m*60 %}
                <tr>
                  <th scope="row">{{ run.timestamp|string|truncate(13, end='') }}</th>
                  <td>{{ run.distances|int/1000 }} km </td>
                  <td>{{ h }}h {{ '{:02.0f}'.format(m) }}m {{ '{:02.0f}'.format(s) }}s </td>
                  <td><a href="{{ url_for('.edit_run', run_id=run.run_id) }}" class="btn btn-outline-info btn-sm">edit</a></td>
                  <td><a href="{{ url_for('.delete_run', run_id=run.run_id) }}" class="btn btn-outline-danger btn-sm">delete</a></td>
                </tr>
              {% endfor %}    
              </tbody>
            </table>
        {% endif %} 
        </div>
    </div>
{% endblock %}